@import "../detalle-general/detalle-general.component.scss";


.contact-buttons-div{
    display:flex;
}

.contact-button{
    width: 33%;
    --border-radius:5px;
}

ion-item{
    display:flex;
    justify-content: center;
}

ion-card{
    margin:4px;
}