@import "../detalle-general/detalle-general.component.scss";


.contact-buttons-div{
    display:flex;
}

.contact-button{
    width: 33%;
}

ion-item{
    display:flex;
    justify-content: center;
}

