#filter-search-bar {
    padding-top: 30px;
}

ion-list-header {
    color: #0074D9;
    padding-bottom: 5px;
}

#main-title {
    padding-top: 20px;
}

ion-list ion-menu-toggle ion-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
