<ion-content>
  
  <ion-item lines="none">
      <ion-label>
        Se Vende
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        Se Renta
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        Vendidas Recientemente
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label>Precio</ion-label>
      <ion-range min={-200} max={200}></ion-range>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Tipo de Inmueble</ion-label>
      <ion-select placeholder="Seleccionar">
        <ion-select-option>Casa</ion-select-option>
        <ion-select-option>Apartamento</ion-select-option>
        <ion-select-option>Lotificación</ion-select-option>
        <ion-select-option>Familia Compartida</ion-select-option>M
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Habitaciones</ion-label>
      <ion-range min={-200} max={200}></ion-range>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Baños</ion-label>
      <ion-range min={-200} max={200}></ion-range>
    </ion-item>
    
    <ion-item lines="none">
        <ion-label>Año</ion-label>
        <ion-select placeholder="Seleccionar">
          <ion-select-option>Casa</ion-select-option>
          <ion-select-option>Apartamento</ion-select-option>
          <ion-select-option>Lotificación</ion-select-option>
          <ion-select-option>Familia Compartida</ion-select-option>M
        </ion-select>
    </ion-item>

    <ion-list>
      <ion-list-header>
        Palabras Clave
      </ion-list-header>

    <ion-item lines="none">
        <ion-input style="border:groove" placeholder="Jardín, parque, etc."></ion-input>
    </ion-item>
  </ion-list>
  </ion-content>